div {
	margin: auto;
}

.center {
	display: block;
	margin: auto;
}

img#glogo {
	max-width: 100%;
	max-height: 100%;
}

div#logo {
	width: 100%;
	position: absolute;
	top: 150px;
	height: 100px;
}

div#searchbar {
	width: 100%;
	position: absolute;
	top: 275px;
	height: 45px;
}

input#searchbar {
	width: 400px;
	height: 42px;
	font-size: 16px;
}	

ul {
	float: right;
	list-style-type: none;
	margin: 20px 0px 0px 0px;
	padding: 0;
}

li {
	display: inline;
	margin: 0px 10px 0px 0px;
}

a {
	text-decoration: none;
	color: #000;
	font-size: 13.3px;
}

a:hover {
	text-decoration: underline;
}

